@media only screen and (max-width: 600px) {
  .container{
    text-align: center;
  }
  .copyright{
    text-align: justify;
  }
    .brand-logo img {
        height: 55px;
    }
    .header-custom h1{
      margin-top: 0;
    }
    .card .card-image img{
      position: relative;
      top:0;
    }
}
 /* Tablet */
@media only screen and (min-width: 768px){
  .card .card-image img{
    position: relative;
    top:-45px;
  }

}
